# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
# *.war
# *.ear
# *.zip
# *.tar.gz
*.rar

# IntelliJ
*.iml
*.ipr
*.iws

# Swap file
*.swp

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Code/hibernate-jpa-web-teste/nbproject/private/
/Code/hibernate-jpa-web-teste/build/
/Code/K-lima/nbproject/private/
/Code/K-lima/build/
/Code/K-lima/dist/

./lib/apache-tomcat-8.5.15/conf/Catalina/localhost/K-lima.xml
./lib/apache-tomcat-8.5.15/logs/
./lib/apache-tomcat-8.5.15/work/Catalina/localhost/ROOT/org/apache/jsp/index_jsp.java
/Code/TrocaMensagensUDP/nbproject/private/
/Code/TrocaMensagens/nbproject/private/
/Code/TrocaMensagens/build/
/Code/Atividade_SD_Chat_RMI/nbproject/private/